{% extends 'base.html' %}

{% block title %}42 cofee cups{% endblock title %}


{% block content %}
    <h1 id="new" style="margin:4%">Hello world</h1>
    {% for c in my_instanse %}

    <div class="my_info">
      <p><strong>Name</strong> : {{ c.name }}</p>
      <p><strong>Surname</strong> : {{ c.surname }}</p>
      <p><strong>Contact</strong> : {{ c.email }}</p>
      <p><strong>About me</strong> :{{ c.bio }}</p>
      <p><strong>Date of birth</strong> : {{ c.birthday }}</p>
    </div>
    {% endfor %}
{% endblock %}