.my_info{
	vertical-align: middle;
	display: table-cell;
	width: 700px;
}

.my_div{
	display: table;
	font-size: 20px;
	border-bottom: 2px solid black;
	line-height: 25px;
	border-spacing:20px;
}
 
.table_vidstyp{
	margin-top: 65px;
	margin-left: 10px;
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

.error{
    color: red;
}

#my_add_info  p.input-group.date{
    position: relative;
}



#my_add_info  p.input-group.date input, 
#my_add_info  p.input-group.date span.input-group-addon{
    display: block;
    float: left;
    width: 180px;
    height: 30px;
}
#my_add_info  p.input-group.date span.input-group-addon{
    width: 5%;
}

#my_add_info  p.input-group.date label{
    display: block;
    float: left;
    vertical-align: middle;
    line-height: 30px;
    width: 200px;
    min-width: 150px;
    padding-right: 20px;
}
.input-group.date{
    width: 700px
}

html {
    height:1000px;
}

#my_add_info p label,
#my_registration_form p label,
.form_class {
    display: block;
    float: left;
    vertical-align: middle;
    line-height: 30px;
    width: 200px;
    min-width: 150px;
    padding-right: 20px;
}
#my_add_info p input, 
#my_add_info p select,
#my_add_info p textarea{
    float: left;
}
#my_add_info p textarea{
    max-height: 120px;
    resize: none;
}
#my_add_info p:after{
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}
